**简要描述：** 
- ${descirption}

**请求URL：** 
- ` ${host}${apiPath} `
  
**请求方式：**
- <#list methodList as method>${method}  </#list>

**参数：** 

|参数名|必选|类型|说明|
|:----    |:---|:----- |-----   |
<#list paramList as param>
|${param.fieldName} |${param.mandatory}|${param.fieldType}|${param.fieldDesc}|
</#list>

 **返回示例**

``` 
  ${responeStruct}
```

 **返回参数说明** 

|参数名|类型|说明|
|:-----  |:-----|-----  
<#list responseParamList as responseParam>     
|${responseParam.fieldName} |${responseParam.fieldType}|${responseParam.fieldDesc}|                    |
</#list>
 **备注** 

- 更多返回错误代码请看首页的错误代码描述


